.info-wrapper {
	width: 50%;
}

.info-wrapper + div {
	left: 50%;
	border-left: 2px solid black;
}

.location-list {
	height: 100%;
	overflow-y: scroll;
    border-top: 2px solid black;
	
	.location-item {
		height: 120px;
	}
}

// .location-list::before {
//   content:"";
//   display:block;
//   height:150px;  fixed header height
//   margin:-50px 0 0; /* negative fixed header height */
// }