.info-wrapper {
	width: 50%;
}

.info-wrapper + div {
	left: 50%;
	border-left: 2px solid black;
	width: 50vw !important;
}

.location-list {
	height: 100%;
	overflow-y: scroll;
    border-top: 2px solid black;
	
	.location-item {
		padding: 20px 40px;
		border-bottom: 1px solid #ebebeb;
	}
}